
.drinking {
    
    width: 95%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.p{
    color: rgba(183, 138, 26, 0.622);
    font-size: smaller;
   font-style: italic;
}

.rating{ 
    color: goldenrod;
}


@media screen and (max-width:640px){
    .hero6{
        
      display: none;
    }
    

}

@media (min-width:768px){
    .telephone{
        display: none;
    }

}